{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  {% endblock %}
</head>
<body>
  {% block content %}
    <div class="container">
      <div class="s1">
        <img src="{% static 'home/imgs/hero.png' %}" alt="Hero" class="hero-img hero1">
        <img src="{% static 'home/imgs/hero2.png' %}" alt="Hero" class="hero-img hero2">
        <img src="{% static 'home/imgs/hero3.png' %}" alt="Hero" class="hero-img hero3">

        <div class="s1-clear-bg">
          <h2 class="s1-title">PURCHASE YOUR PERFECT CAR</h2>
          <p class="s1-text">Quality used car dealer with a wide range of cars to suit all budgets</p>

          <a href="{% url 'stock' %}"><button class="s1-btn btn">View All Cars</button></a>
        </div>
      </div>

      <div class="s2">
        <div class="s2-title">Featured Cars</div>

        <div class="card-group">
          <!-- CARD 1 -->
          {% for car in cars %}
          <div class="card">
            <img src="{{ car.car.thumbnail.url }}" alt="Thumbnail" class="card-thumbnail">

            <p class="card-car-name"><b style="text-decoration: underline;" >£{{ car.car.price }}</b> | {{ car.car.brand }} {{ car.car.model }}</p>

            <!-- <p class="card-category"></p> -->
            {% if car.car.attribute %}
            <p class="card-attribute">{{ car.car.attribute }}</p>
            {% endif %}

            <a href="{% url 'stock-detail' car.car.slug %}"><button class="card-btn btn">View Car</button></a>
          </div>
          {% endfor %}
        </div>

        <!-- <div class="pagination">
          <img src="{% static 'home/imgs/chev_left.svg' %}" alt="Chev" class="chev-left">

          <div class="circ-btn"></div>
          <div class="circ-btn circ-btn-deactive"></div>

          <img src="{% static 'home/imgs/chev_right.svg' %}" alt="Chev" class="chev-right">
        </div> -->
      </div>

      <div class="s3">
        <img src="{% static 'home/imgs/service.png' %}" alt="Service" class="s3-img">

        <div class="s3-content">

          <p class="s3-par1 s3-par">For fantastic offers and great choice, Z&A Motor's is your number 1 used car dealer. </p>

          <p class="s3-par2 s3-par">Based in Burnley, Lancashire but serving customers across the UK. 
            We pride ourselves on offering fantastic range of cars</p>
        </div>
      </div>

      <div class="s4">
        <div class="s4-title">Why Us?</div>
  
        <div class="advantages">
          <div class="business-age adv-div">
            <img src="{% static 'home/imgs/age.svg' %}" alt="Age" class="age-icon">
  
            <p class="age-text">A trusted service providing top class service in Burnley for many years.</p>
          </div>
  
          <div class="business-saftey adv-div">
            <img src="{% static 'home/imgs/saftey.svg' %}" alt="saftey" class="saftey-icon">
  
            <p class="age-text">Our friendly and knowledgeable associates are on hand and ready to help you find your perfect used car</p>
          </div>
  
          <div class="business-driver adv-div">
            <img src="{% static 'home/imgs/drivers.svg' %}" alt="driver" class="driver-icon">
  
            <p class="age-text">All our vehicles are fully inspected and prepared before sale</p>
          </div>
        </div>
      </div>

      <div class="s5">
        <div class="s5-left">
          <div class="filler-pattern">
            <div class="grid-pattern">
              <div class="sm-block sm-left"></div>
              <div class="sm-block sm-right"></div>
            </div>

            <div class="lg-block"></div>
          </div>

          <div class="mid-text">
            <div class="s5-text-cont">
              <h2 class="s5-title">We offer cars from dozens of well-known brands</h2>
              <p class="s5-text">At Z&A Motors, we are proud of the extensive range of quality used vehicles we are able to offer</p>
  
              <a href="{% url 'stock' %}"><button class="s5-btn">View Our Cars</button></a>
            </div>
            
            <div class="lg-block"></div>

          </div>

          <div class="filler-pattern">
            <div class="grid-pattern">
              <div class="sm-block sm-left"></div>
              <div class="sm-block sm-right"></div>
            </div>

            <div class="lg-block"></div>
          </div>
        </div>

        <div class="s5-right">
          <img src="{% static 'home/imgs/car.png' %}" alt="" class="s5-hero">
        </div>
      </div>

      <div class="s6">
        <h2 class="s6-title">Testimonials</h2>

        <div class="card-group">
          {% for testimonial in testimonials %}
          <div class="t-card">
            <p class="card-quote">“{{ testimonial.message }}”</p>

            <h3 class="card-name">
              - {{ testimonial.name }}
            </h3>
          </div>
          {% endfor %}
        </div>
        <a href="{% url 'stock' %}"><button class="s6-btn btn">Check Stock</button></a>
      </div>

      <div class="s7">
        <h2 class="s7-title">Sell or part exchange your car</h2>
        <p class="s7-text">Quick, convenient and hassle-free, get a quick valuation of you car. If your interested please get in touch. </p>

        <a href="{% url 'contact' %}"><button class="contact-btn btn">Contact Us</button></a>
      </div>
    </div>

    <style>
      .contact-btn{
        cursor: pointer;
      }

      /* BASE MODIFIED */
      /* .navigation {
        width: 100%;
        height: 100px;
        background: rgba(46, 46, 46, 0.6);
        display: flex;
        justify-content: space-between;
        align-items: center;
      } */
    </style>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="{% static 'home/app.js' %}"></script>
  {% endblock %}
</body>
</html>