{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>Contact</title>
  <link rel="stylesheet" href="{% static 'contact/style.css' %}">
  {% endblock %}
</head>
<body>
  {% block content %}
    <div class="container">
      <div class="s1">
        <div class="s1-container">
          <div class="s1-right">
            <form method="POST"> {% csrf_token %}
              {{ form }}

              <button type="submit" class="submit">Submit</button>
            </form>
          </div>

          <div class="s1-left">
            <div class="s1-left-top">
              <h2 class="s1-title">Send Us A Message</h2>

              <p class="s1-text">
                Fill in our form or give us a call 
                for any enquiries. 
              </p>

              <div class="opening-times">
                <p class="time">Monday 9am - 6pm</p>
                <p class="time">Tuesday 9am - 6pm</p>
                <p class="time">Wednesday 9am - 6pm</p>
                <p class="time">Thursday 9am - 6pm</p>
                <p class="time">Friday 9:30am - 6:30pm</p>
                <p class="time">Saturday 9am - 7:30pm</p>
                <p class="time">Sunday 9am - 6pm</p>
              </div>

              <p class="address">Bank Hall Works off, Colne Rd, Burnley BB10 3AT</p>
            </div>

            <div class="s1-left-bottom">
              <!-- <div id="map"></div> -->

              <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9426.142756558445!2d-2.2340895!3d53.797751!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa98030f1bf831bde!2sZ%26A%20Motors!5e0!3m2!1sen!2suk!4v1638704787430!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      let navigation = document.querySelector(".navigation")
      navigation.style.opacity = 1

      let map = document.querySelector(".map")

      console.log(window.innerWidth)

      if(window.innerWidth < 900) {
        map.height = "225"
        map.width = "300"
      }
    </script>
    
  {% endblock %}
</body>
</html>