{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>Contact</title>
  <link rel="stylesheet" href="{% static 'contact/style.css' %}">

  <meta name="description" content="Contact Z&A Motors to inquire for anything.">
  <meta name="keywords" content="Contact, Z&A motors, za motors, inquire, burnley">
  <meta name="author" content="Bilal Uddin">
  {% endblock %}
</head>
<body>
  {% block content %}
    <div class="container">
      <div class="s1">
        <div class="s1-container">
          <div class="s1-right">
            <form method="POST"> {% csrf_token %}
              {{ form }}

              <button type="submit" class="submit">Submit</button>
            </form>
          </div>

          <div class="s1-left">
            <div class="s1-left-top">
              <div class="opening-times">
                <h2 class="time-title">Opening Times</h2>
                <div class="time-cont">
                  <p class="day">Monday</p>
                  <p class="time">9AM - 6PM</p>
                </div>

                <div class="time-cont">
                  <p class="day">Tuesday</p>
                  <p class="time">9AM - 6PM</p>
                </div>

                <div class="time-cont">
                  <p class="day">Wednesday</p>
                  <p class="time">9AM - 6PM</p>
                </div>

                <div class="time-cont">
                  <p class="day">Thursday</p>
                  <p class="time">9AM - 6PM</p>
                </div>

                <div class="time-cont">
                  <p class="day">Friday</p>
                  <p class="time">9AM - 6PM</p>
                </div>

                <div class="time-cont">
                  <p class="day">Saturday</p>
                  <p class="time">9AM - 7:30PM</p>
                </div>

                <div class="time-cont">
                  <p class="day">Sunday</p>
                  <p class="time">9AM - 6PM</p>
                </div>

                <h2 class="number-title">Phone Number</h2>
                <p class="number">07967 509040</p>
                <p class="number">07517 368104</p>
              </div>
            </div>
          </div>

          
        </div>

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9426.142756558445!2d-2.2340895!3d53.797751!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa98030f1bf831bde!2sZ%26A%20Motors!5e0!3m2!1sen!2suk!4v1638704787430!5m2!1sen!2suk" width="980" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>

    <script>
      let navigation = document.querySelector(".navigation")
      navigation.style.opacity = 1

      let map = document.querySelector(".map")

      console.log(window.innerWidth)

      if(window.innerWidth < 1000) {
        map.height = "225"
        map.width = "300"
      }
    </script>
    
  {% endblock %}
</body>
</html>