/* SECTION 1 */

.s1 {
  height: 100vh;
}

.hero-img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;

  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.s1-title {
  display: none;
}

.hero-title {
  margin-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.hero-sub-title {
  font-size: 24px;
  margin-top: 10px;

  text-align: center;

  color: #ffffff;
}

.btn-group {
  width: 50%;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.fleet-btn {
  width: 220px;
  height: 70px;
  border: none;

  background: #fdfdfd;
  border-radius: 3px;

  font-size: 24px;
  line-height: 29px;

  color: black;
  cursor: pointer;
}

.call-btn {
  width: 220px;
  height: 70px;
  background: none;

  border: 2px solid #fdfdfd;
  border-radius: 3px;

  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  cursor: pointer;
}

/* SECTION 2 */

.s2-title {
  width: 211px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 32px;

  color: #3c3c3c;
}

.card-group {
  width: 78.125%;
  margin: 0 auto;
  margin-top: 70px;

  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 500px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

.card-thumbnail {
  width: 250px;
  height: 120px;
  align-self: center;
  margin-top: 35px;
  object-fit: cover;
}

.card-line {
  margin-top: 20px;
  border: 1.5px solid #a5a5a5;
  background-color: #a5a5a5;
  width: 250px;
  align-self: center;
}

.card-category {
  font-weight: 600;
  font-size: 26px;

  letter-spacing: 0.14em;

  color: #000000;
  margin-top: 11px;
  margin-left: 25px;
}

.card-perk1,
.card-perk2 {
  font-size: 21px;

  color: #3c3c3c;
  margin-left: 25px;
}

.card-perk1 {
  margin-top: 25px;
}

.card-perk2 {
  margin-top: 14px;
}

.card-car-name {
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;

  color: #828282;
  margin-left: 25px;
}

.card-btn,
.s2-btn {
  width: 250px;
  height: 45px;

  border: none;
  background: #0b5c97;
  border-radius: 5px;

  font-size: 20px;
  line-height: 24px;

  color: #ffffff;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  cursor: pointer;
}

.s2-btn {
  margin-top: 42px;
  width: 300px;
}

/* SECTION 3 */

.s3 {
  height: 140vh;
}

.s3-img {
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-top: 120px;
  object-fit: cover;
}

.s3-content {
  width: 528px;
  height: 437px;

  background: #131313;

  position: relative;
  top: 375px;
  margin-left: 40px;
}

.s3-title {
  width: 234px;
  margin: 0 auto;
  padding-top: 27px;

  font-weight: 600;
  font-size: 36px;

  color: #ffffff;
}

.s3-par {
  width: 395px;
  margin: 0 auto;
  margin-top: 35px;

  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
}

/* S4 */

.mc {
  width: 320px;
  height: 320px;

  background: #333333;
}

.mc-top {
  display: flex;
  padding-top: 32px;
  margin-left: 20px;
}

.mc-title {
  width: 140px;
  margin-left: 25px;

  font-size: 24px;

  color: #ffffff;
  margin-left: 20px;
}

.mc-text {
  width: 256px;

  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
  margin-top: 40px;
  margin-left: 20px;
}

.services {
  padding-top: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px;

  width: fit-content;
  margin: 0 auto;
}

/* SECTION 5 */

.s5-title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 36px;

  margin-top: 66px;

  color: #000000;
}

.age-icon,
.saftey-icon,
.driver-icon {
  height: 125px;
}

.adv-div {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 89px;
}

.age-text {
  width: 299px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #1b1b1b;
  margin-top: 45px;
}

.advantages {
  width: 90.4%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

.business-age {
  border-right: 2px solid #000000;
  padding-right: 30px;
}

.business-driver {
  border-left: 2px solid #000000;
  padding-left: 30px;
}

/* SECTION 6 */

.s6 {
  width: 100%;
  height: 110vh;
  background: #ececec;

  margin-top: 105px;
}

.card-quote {
  width: 269px;
  margin: 0 auto;
  padding-top: 75px;

  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #828282;
}

.card-name {
  width: 256px;
  margin: 0 auto;
  margin-top: 40px;

  font-weight: 600;
  font-size: 26px;

  letter-spacing: 0.14em;
  text-align: center;

  color: #000000;
}

.s6-title {
  width: 208px;
  margin: 0 auto;
  padding-top: 40px;

  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}

.t-card {
  width: 300px;
  height: 355px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

/* SECTION 7 */

.s7 {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.s7-title {
  font-weight: 600;
  font-size: 48px;

  color: #000000;
  margin-left: 40px;
}

.s7-text {
  width: 680px;

  font-size: 24px;
  line-height: 29px;

  color: #000000;
  margin-top: 35px;

  margin-left: 40px;
}

.contact-btn {
  width: 220px;
  height: 70px;

  background: #0b5c97;
  border-radius: 3px;
  border: none;

  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  margin-top: 35px;

  margin-left: 40px;
}

/* TABLET VIEW */
@media screen and (max-width: 1015px) {
  .btn-group {
    width: 75%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
  }

  .card-group {
    width: 78.125%;
    margin: 0 auto;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    margin-top: 80px;
  }

  .services {
    padding-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 60px;

    width: fit-content;
    margin: 0 auto;
  }

  .s6 {
    width: 100%;
    height: 240vh;
    background: #ececec;

    margin-top: 105px;
  }

  .t-card {
    width: 300px;
    height: 355px;
    margin-top: 40px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }

  .hero-img {
    display: none;
  }

  .hero-title {
    display: none;
  }

  .s1-title {
    display: block;
    width: 320px;
    margin: 0 auto;
    margin-top: 60px;

    font-size: 48px;
    line-height: 109.68%;
    /* identical to box height, or 53px */

    text-align: center;

    color: #1f1f1f;
  }

  .hero-sub-title {
    font-size: 24px;
    margin-top: 10px;

    text-align: center;

    color: #ffffff;
    display: none;
  }

  .btn-group {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .btn-group a {
    width: 220px;
  }

  .fleet-btn {
    width: 220px;
    height: 70px;
    border: none;

    background: #1f1f1f;
    border-radius: 3px;

    font-size: 24px;
    line-height: 29px;

    color: #f1f1f1;
    cursor: pointer;
  }

  .call-btn {
    width: 220px;
    height: 70px;
    background: none;

    border: 2px solid #1f1f1f;
    border-radius: 3px;

    font-size: 24px;
    line-height: 29px;

    color: #1f1f1f;
    background: none;
    cursor: pointer;

    margin-top: 40px;
  }

  .s1 {
    height: 60vh;
  }

  .s3-img {
    display: none;
  }

  .s3-content {
    width: 100%;
    height: 437px;

    background: #131313;

    position: relative;
    top: 80px;
    margin-left: 0px;
  }

  .s3-par {
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;

    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #ffffff;
  }

  .s3 {
    height: 80vh;
  }

  .services {
    padding-top: 65px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 60px;

    width: fit-content;
    margin: 0 auto;
  }

  /* SECTION 4 */

  .s4-title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 36px;

    margin-top: 66px;

    color: #000000;
  }

  .age-icon,
  .saftey-icon,
  .driver-icon {
    height: 125px;
  }

  .adv-div {
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 89px;
  }

  .age-text {
    width: 299px;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #1b1b1b;
    margin-top: 45px;
  }

  .advantages {
    width: 90.4%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .business-age {
    border-right: 0px solid #000000;
    padding-right: 0;
  }

  .business-driver {
    border-left: 0px solid #000000;
    padding-left: 0;
  }

  /* SECTION 7 */

  .s7-title {
    width: 350px;
    margin: 0 auto;
    text-align: center;

    font-weight: 600;
    font-size: 36px;

    color: #000000;
  }

  .s7-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
  }

  .contact-btn {
    margin-left: 0;
    margin: 0 auto;
    margin-top: 60px;
  }
}

/* DESKTOP VIEW */
@media screen and (min-width: 1300px) {
  .s1 {
    height: 60vh;
  }

  .hero-title {
    margin-top: 80px;
  }

  .hero-img {
    height: 60vh;
  }

  .fleet-btn,
  .call-btn {
    width: 330px;
    height: 90px;
  }

  .s3 {
    height: 90vh;
  }

  .s6 {
    height: 72vh;
  }

  .s7 {
    height: 60vh;
  }
}
